
<h1> Stock Tracker </h1>


<form class="update_form" action="/new" method="post">
  <select class="new" name="type">
    <option value="product">Product</option>
    <option value="manufacturer">Manufacturer</option>
  </select>
  <button type="submit" name="button">New</button>
</form>
