
<h1> Stock Tracker </h1>


<form class="update-form" action="/new" method="post">
  <select class="new" name="type">
    <option value="product">Product</option>
    <option value="manufacturer">Manufacturer</option>
  </select>
  <button type="submit" name="button">New</button>
</form>
  <br>
<table>
  <tr>
    <th id="tl"> Total expenditure </th>
    <th> Total stock value </th>
    <th id="tr"> Total potential profit </th>
  </tr>
  <tr>
    <% buy_cost_arr = @products.map { |product| product.total_buy_cost } %>
    <td> <%= buy_cost_arr.sum %> </td>
    <% sell_cost_arr = @products.map { |product| product.total_sell_cost } %>
    <td> <%= sell_cost_arr.sum %> </td>
    <td> <%= sell_cost_arr.sum - buy_cost_arr.sum %></td>
  </tr>
</table>
