

body {
  margin: 0;
  background-image: url('https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?cs=srgb&dl=bricks-brickwall-brickwork-1092364.jpg&fm=jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}
a {
  color: rgb(37, 93, 168);
  text-decoration: none;
  margin: 20px 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
h1  {
  color: rgb(37, 93, 168);
  position: relative;
  text-align: center;
}
table {
  margin: 70px 25px;
  border-collapse: collapse;
}
th {
  /* border: 1px solid lightgrey; */
  padding: 4px 0 4px 4px;
  background-color: rgba(37, 93, 168, 0.8);
  text-align: left;
  color: white;
}
#tl {
  border-radius: 8px 0 0 0;
}
#tr {
  border-radius: 0 8px 0 0;
}
tr:last-child {
  border-radius: 0 0 8px 8px;
}
td {
  background-color: rgba(242, 243, 244, 0.8);
  border: 1px solid rgba(37, 93, 168, 0.2);
}
.low {
  background-color: rgba(255, 153, 0, 0.8);
}
.out-of-stock {
  background-color: rgba(232, 0, 0, 0.8);
}
.in-stock {
  background-color: rgba(55, 187, 0, 0.8);
}
td form button {
  margin: 8px 0;
  background-color: rgba(37, 93, 168, 0.8);
  border: none;
  border-radius: 4px;
  color: white;
}
th form button {
  margin: 8px 0;
  background-color: rgba(37, 93, 168, 0);
  border: 1px solid lightgrey;
  border-radius: 4px;
  color: white;
}
#delete {
  background-color: rgba(232, 0, 0, 0.8);
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.filter select {
  background-color: rgba(37, 93, 168, 0);
  color: white;
  border: none;
  font-size: 16px;
  font-family: serif;
  font-weight: bold;
  margin-top: 7px;
  margin-right: 10px;
}
.update-form {
  margin: auto;
  margin: 70px 0 20px 333px ;
  width: 45%;
  border-radius: 5px;
  border: 1px solid rgba(37, 93, 168, 0.3);
  background-color: rgba(237, 237, 237, 0.8);
  padding: 20px;
}
input#name {
  background-color: rgba(255, 255, 255, 0.3);
  width: 200px;
  height: 5px;
  padding: 10px 5px;
  margin: 1px;
  display: inline-block;
  border: 1px solid rgba(37, 93, 168, 0.3);
  border-radius: 4px;
}
input#category {
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 5px;
  padding: 10px 5px;
  margin: 1px;
  display: inline-block;
  border: 1px solid rgba(37, 93, 168, 0.3);
  border-radius: 4px;
}
input#description {
  background-color: rgba(255, 255, 255, 0.3);
  width: 95%;
  height: 5px;
  padding: 10px 5px;
  margin: 1px;
  display: inline-block;
  border: 1px solid rgba(37, 93, 168, 0.3);
  border-radius: 4px;
}
input#buy_cost {
  background-color: rgba(255, 255, 255, 0.3);
  width: auto;
  height: 5px;
  padding: 10px 5px;
  margin: 1px;
  display: inline-block;
  border: 1px solid rgba(37, 93, 168, 0.3);
  border-radius: 4px;
}
input#sell_cost {
  background-color: rgba(255, 255, 255, 0.3);
  width: auto;
  height: 5px;
  padding: 10px 5px;
  margin: 1px;
  display: inline-block;
  border: 1px solid rgba(37, 93, 168, 0.3);
  border-radius: 4px;
}
input#quantity {
  background-color: rgba(255, 255, 255, 0.3);
  width: auto;
  height: 5px;
  padding: 10px 5px;
  margin: 1px;
  display: inline-block;
  border: 1px solid rgba(37, 93, 168, 0.3);
  border-radius: 4px;
}
input#address {
  background-color: rgba(255, 255, 255, 0.3);
  width: 500px;
  height: 5px;
  padding: 10px 5px;
  margin: 1px;
  display: inline-block;
  border: 1px solid rgba(37, 93, 168, 0.3);
  border-radius: 4px;
}
input#tel_no {
  background-color: rgba(255, 255, 255, 0.3);
  width: auto;
  height: 5px;
  padding: 10px 5px;
  margin: 1px;
  display: inline-block;
  border: 1px solid rgba(37, 93, 168, 0.3);
  border-radius: 4px;
}
input#rep_name {
  background-color: rgba(255, 255, 255, 0.3);
  width: auto;
  height: 5px;
  padding: 10px 5px;
  margin: 1px;
  display: inline-block;
  border: 1px solid rgba(37, 93, 168, 0.3);
  border-radius: 4px;
}
 button {
  margin: 8px 0;
  background-color: rgba(37, 93, 168, 0.8);
  border: none;
  border-radius: 4px;
  color: white;
}
form input[type="text"] {
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 5px;
  padding: 10px 20px;
  margin: 3px 0 8px 0;
  display: inline-block;
  border: 1px solid rgba(37, 93, 168, 0.3);
  border-radius: 4px;
}
form input[type="number"] {
  background-color: rgba(255, 255, 255, 0.4);
  width: 15%;
  height: 5px;
  padding: 10px 20px;
  margin: 3px 0 8px 0;
  display: inline-block;
  border: 1px solid rgba(37, 93, 168, 0.3);
  border-radius: 4px;
}
.update-form button {
  width: 50%;
  background-color: rgba(37, 93, 168, 0.8);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}
.flex-container a {
  position: relative;
  top: 17px;
  border-radius: 4px;
  background-color: rgba(37, 93, 168, 0.8);
  color: white;
  padding: 5px 20px;
  font-family: sans-serif;
  font-size: 12px;
}
