
body {
  margin: 0;
}
.header {
  background-color: #f2f2f2
}
a {
  color: rgb(37, 93, 168);
  text-decoration: none;
  margin-left: 20px;
}
h1  {
  color: rgb(37, 93, 168);
}
table {
  margin: 0 50px;
  border-collapse: collapse;
}
th {
  /* border: 1px solid lightgrey; */
  padding: 4px 10px 4px 8px;
  background-color: rgb(37, 93, 168);
  text-align: left;
  color: white;
}
#tl {
  border-radius: 8px 0 0 0;
}
#tr {
  border-radius: 0 8px 0 0;
}
tr:last-child {
  border-radius: 0 0 8px 8px;
}
td {
  background-color: #f2f2f2;
  border: 1px solid lightgrey;
}
.low {
  background-color: orange;
}
.out-of-stock {
  background-color: red;
}
.in-stock {
  background-color: green;
}
td form button {
  margin: 8px 0;
  background-color: rgb(37, 93, 168);
  border: none;
  border-radius: 4px;
  color: white;
}
th form button {
  margin: 8px 0;
  background-color: rgb(37, 93, 168);
  border: 1px solid lightgrey;
  border-radius: 4px;
  color: white;
}
#delete {
  background-color: rgb(232, 0, 0);
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.filter select {
  background-color: rgb(37, 93, 168);
  color: white;
  border: none;
  font-size: 16px;
  font-family: serif;
  font-weight: bold;
  margin-top: 7px;
  margin-right: 10px;
}
.update-form {
  margin-left: 100px;
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
form input[type="text"] {
  width: 90%;
  height: 5px;
  padding: 10px 20px;
  margin: 3px 0 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
form input[type="number"] {
  width: 15%;
  height: 5px;
  padding: 10px 20px;
  margin: 3px 0 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.update-form button {
  width: 50%;
  background-color: rgb(37, 93, 168);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}
.flex-container a {
  position: relative;
  top: 17px;
  border-radius: 4px;
  background-color: rgb(37, 93, 168);
  color: white;
  padding: 5px 20px;
  font-family: sans-serif;
  font-size: 12px;
}
